.font {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.background1 {
    background-color: black;
    color: white;
}

.background2 {
    background-color: yellow;
}